{% extends "base.html" %}
{% load static %}
{% block basecss %}

<style>
    header, main, footer {
        padding-left: 300px;
    }
    .sidenav {
        width: 300px;
    }
    @media only screen and (max-width : 992px) {
        header, main, footer {
            padding-left: 0px;
        }
    }
    .subtitulo-paci {
        font-family: Arial, Helvetica, sans-serif;
        padding: 10px;
        font-size: 23px;
        color: rgb(57, 57, 194);
        border-top: solid rgb(57, 57, 194) 1px;
        border-bottom: solid rgb(57, 57, 194) 1px;
        text-align: center;
        margin-right:10px;
        margin-top: 2px;
    }

    .boton{
        background-color: white;
        color: blue;
        margin-top: 20px;
    }

    .carta-paci span{
        color: blue;
    }
    .carta-paci {
        color: blue;
    }
    .subtitulo-card {
        background-color: #5fae7b;
    }
</style>
{% endblock basecss %}
{% block header %}
<nav class="hide-on-large-only">
    <div class="nav-wrapper">
        <a class="brand-logo" href="{% url 'paciente' %}"><img src="{% static 'img/nuts_logo.png' %}" width="90px" height="60px"></a>
        <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons purple-text">menu</i></a>
        <ul class="right">
            <li><a href="#">sass<span class="badge purple-text"><i class="material-icons">notifications_active</i></span></a></li>
        </ul>
    </div>
</nav>

<ul id="slide-out" class="sidenav sidenav-fixed blue lighten-5">
    <li>
        <div class="user-view">
            <a href="{% url 'paciente' %}"><img src="{% static 'img/nuts_logo.png' %}" width="200px" height="150px"></a>
            <a><span class="blue-text name">{{request.user.get_nombre_completo}}</span></a>
            <a><span class="blue-text email">{{request.user.email}}</span></a>
        </div>
    </li>
    <li class="{% block activeRecomendacion %} {% endblock %}"><a href="{% url 'paciente' %}"><i class="material-icons blue-text">list</i>Mi recomendación</a></li>
    <li class="{% block activeEvaluacion %} {% endblock %}"><a href="{% url 'evaluacion-nutricional' %}"><i class="material-icons blue-text">assignment</i>Evaluacion nutricional</a></li>
    <li class="{% block activeMinutri %} {% endblock %}"><a href="{% url 'mi-nutricionista' %}"><i class="material-icons blue-text">person_pin</i>Mi nutricionista</a></li>
    <li><div class="divider"></div></li>

    <hr class="blue blue-text" style="border:1px lightblue solid;">
    <li><a href="{% url 'logout' %}"><i class="material-icons blue-text">exit_to_app</i>Cerrar Sesión</a></li>
    
    
</ul>


{% endblock header %} 


{% block main %} 
   
{% endblock main %}

{% block costumjs %}
    <script type="text/javascript" src="{% static 'paciente/js/paciente.js' %}"></script>
{% endblock costumjs %}