{% extends "paciente/base_paciente.html" %}
{% load static %}
{% block main %}
<div class="row">
    <div class="col s12 center">
        <div class="card">
          <div>
            <img src="{% static 'img/nuts_logo.png' %}" class="responsive-img circle" width="200">
          </div>
          <div class="card-content">
            <span class="card-title">Su recomendación nutricional</span>
            <table class="bordered striped">
                <thead>
                    <tr>
                        <th data-field="id">Comida</th>
                        <th data-field="name">Horario</th>
                        <th data-field="price">Alimentos</th>
                    </tr>
                </thead>
                <tbody id="tabla_minuta">
                    <tr>
                        <td>Desayuno</td>
                        <td>7:30</td>
                        <td>
                            <ul>
                                <li>Yougurth (1) porciones </li>
                                <li>Cereal (2) porciones</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>Almuerzo</td>
                        <td>13:30</td>
                        <td>
                            <ul>
                                <li>Yougurth (1) porciones </li>
                                <li>Cereal (2) porciones</li>
                            </ul>
                        </td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
    </div>
</div>
{% endblock main %}

{% block costumjs %}
<script>
    const pk_paciente = `{{request.user.paciente.pk}}`
    console.log('pk_paciente', pk_paciente)
    
   $.getJSON(`/paciente/minuta/${pk_paciente}`, function(data){
        console.log(data)
        data.forEach((e) => {
            console.log(e)
            html_alimentos = ''
            if (e.alimentos_porcion) {
                e.alimentos_porcion.forEach(tupla => {
                    html_alimentos+= `${tupla[0].nombre} (${tupla[1]}) `
                });
    
            }
            $('#tabla_minuta').append(`
            <tr>
                <td>${e.nombre}</td>
                <td>${e.horario_1}</td>
                <td>${html_alimentos}</td>
            </tr>`)
            })
   })
</script>
{% endblock costumjs %}