{% extends "base.html" %}
{% load static%}

{% block costumcss %}
<style>
    header, main, footer {
        padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
        header, main, footer {
            padding-left: 0;
        }
    }
</style>
{% endblock costumcss %}

{% block header %}
<nav> 
    <div class="nav-wrapper">
        <div class="row">
            <div class="col s12">

                <ul class="right hide-on-med-and-down">
                    <li><a href="{% url 'logout' %}">Cerrar sesión</a></li>

                </ul>
            </div>
        </div>
    </div>
</nav>

<ul class="sidenav sidenav-fixed">
    <li><a href="{% url 'superadmin' %}">Inicio</a></li>
</ul>    
{% endblock header %} 


{% block main %} 

{% endblock main %}



