
{% extends "base.html" %}
{% load static %}

<!-- estilo inicio -->
{% block basecss %}
<style>
.boton-inicio{
  width: 300px;
  margin-bottom: 70px;
  font-size: 24px;
  height: 80px;
  padding-top: 25px;
  font-weight: bolder;
  border-radius: 40px;
}

.carta-inicio{
  height: 150px;
  font-size: 24px;
  margin-bottom: 100px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  border: solid darkblue;
  margin-top: 20px;
  border-radius: 10px;
  background-color: blueviolet;
  
}

.titulo-carta{
  font-size: 32px;
  text-align: center;
  margin-top: 10px;
  
}

</style>
{% endblock basecss %}
{% block header %}
<div class="slider">
  <ul class="slides">
    <li>
      <img src="{% static 'img/slider1.jpg' %}">
      <div class="caption center-align">
        <h3 class="blue-text text-darken-3">Bienvenido a Nuts</h3>
      </div>
    </li>
    <li>
      <img src="{% static 'img/slider2.jpg' %}">
      <div class="caption left-align">
        <h3>Nuts</h3>
        <h5>Organiza tus comidas</h5>
      </div>
    </li>
    <li>
      <img src="{% static 'img/slider3.jpg' %}">
      <div class="caption right-align">
        <h3>Nuts</h3>
        <h5>Acerca a tus pacientes</h5>
      </div>
    </li>
    <li>
      <img src="{% static 'img/slider4.jpg' %}">
      <div class="caption center-align">
        <h3 class="blue-text text-darken-3">Nuts</h3>
        <h5 class="blue-text text-darken-3">Agiliza tus consultas</h5>
      </div>
    </li>
  </ul>
</div>
{% endblock header %}

{% block main %}

<div class="carousel carousel-slider center" data-indicators="true">
    <div class="carousel-fixed-item center">
        
       
    </div>
    <div class="carousel-item purple-text" href="#one!">
      <h2>Ingresa a tu cuenta</h2>
      <p class="purple-text">Proceso de atención nutricional</p>
      <a href="{% url 'login-nutricionista' %}" class="btn boton-inicio purple darken-3 hoverable">Ingresar</a>
    </div>
    <div class="carousel-item blue-text darken-3" href="#two!">
      <h2>Solicita tu cuenta</h2>
      <p class="blue-text darken-3">Gestiona tu dieta</p>
      <a href="{% url 'login-paciente'%}" class="btn boton-inicio blue darken-3 hoverable">Ingresar</a>
    </div>
    <div class="carousel-item purple-text" href="#two!">
      <h2>Solicita tu cuenta</h2>
      <p class="purple-text">Unete al equipo de nutricionistas de Nuts</p>
      <a href="#" class="btn boton-inicio purple darken-3 hoverable disabled">Solicita tu cuenta</a>
    </div>
 </div>

{% comment %} <div class="purple">
        <div class="row">
          <div class="col l6">
            <div class="carta-inicio center">
                <span class="titulo-carta">Ingresa a tu cuenta</span>
                <p>Proceso de atención nutricional</p>
                <a href="{% url 'login-nutricionista' %}" class="btn boton-inicio purple darken-3 hoverable">Ingresar</a>
            </div>
          </div>         
          <div class="col l6">
              <div class="carta-inicio center">
                  <span class="titulo-carta">Solicita tu cuenta</span>
                  <p>Unete al equipo de nutricionistas de Nuts</p>
                  <a href="#" class="btn boton-inicio purple darken-3 hoverable disabled">Solicitar</a>
              </div>
          </div>
        </div>
    </div> {% endcomment %}
{% endblock main %}