{% extends "base.html" %}
{% load static %}
{% block basecss %}
<style>
body{
  background: url({% static 'img/fondo-06.png'%});
}

.formulario-login{
  height: 400px;
  margin-top: 50px;
}

.logo{
  margin-top: 70px;
}
</style>
{% endblock basecss %}


{% block header %}

{% endblock header %}

{% block main %}
<body>

    <main>
      <div class="row">
        <div class="col l4 center">
          <img src="{% static 'img/nuts_logo.png' %}" width="250" height="200" class="logo">
        </div>
      </div>
      <div class="row">
        <div class="col l4">
          <div class="container center">
            <h5>Ingreso de Nutricionista</h5>   
              <form method="POST" class="formulario-login">
                  {% csrf_token %}
                <div class='row'>
                  <div class='input-field col s12'>
                    <input class='validate' type='email' name='email' id='email' />
                    <label for='email'>Ingrese su correo</label>
                  </div>
                </div>
                <div class='row'>
                  <div class='input-field col s12'>
                    <input class='validate' type='password' name='password' id='password' />
                    <label for='password'>Ingrese su Contraseña</label>
                  </div>
                </div>
                  <div class='row'>
                    <button type='submit' name='btn_login' class='col s12 btn btn-large waves-effect indigo'>Ingresar</button>
                  </div> 
              </form>
          </div>
        </div>
        <div class="col l8 center">
              <h5>Organiza tus comidas</h5>
              <h5>Acerca a tus pacientes</h5>
              <h5>Agiliza tus consultas</h5>
              <h6>Hecho para Nutricionistas</h6>
        </div>
      </div>

 
        

    </main>



{% endblock main %}