{% extends "nutricionista/base_nutricionista.html" %}
{% block activeAtenciones %} active {% endblock %}
{% block main %}
<div class="row">
    <div class="col s12">
        <h3 class="subtitulo">Listado de atenciones</h3>
    </div>
</div>
<div class="row">
    <div class="col s12">
        {% for message in messages  %}
            {% if message.tags == 'success' %}
                <p class="green-text">{{message}}</p>
            {% else %}
                <p>{{message}}</p>
            {% endif %}
        {% endfor %} 
    </div>
</div>
<div class="container">
    <div class="row">
       <div class="col s12">
           <table class="highlight">
               <thead>
                   <tr>
                        <th>Atención en: </th>
                        <th>Fecha</th>
                        <th>Hora</th>
                        <th>Nombre</th>
                        <th>Estado</th>
                        <th>Asistencia</th>
                        <th>Ver detalle</th>
                   </tr>
               </thead>
               <tbody>
                    {% for atencion in atenciones  %}
                    <tr>
                        <td>{{atencion.tiempo_a_la_reserva}}</td>
                        <td>{{atencion.fecha| date:"d M Y"}}</td>
                        <td>{{atencion.hora}}</td>
                        <td>{{atencion.paciente.user.get_nombre_completo}}</td>
                        <td>{{atencion.get_estado_display}}</td>
                        <td>
                            {% if atencion.asistencia %}
                            <span class="green-text">Si</span>
                            {% else %}
                            <span class="red-text">No</span>
                            {% endif %}
                        </td>
                        <td><a href="{% url 'atencion-single' pk=atencion.pk%}">Ver detalle</a></td>
                    </tr>
                    {% empty %}
                        <tr>
                            <td colspan="7">No se encontraron próximas atenciones.</td>
                        </tr>
                    {% endfor %}
               </tbody>
           </table>
       </div>
    </div>
</div>
<div class="row center">
        {% if atenciones.paginator.num_pages > 1 %} 
        <ul class="pagination">
          {% if atenciones.has_previous %}
              <li class=""><a href="?page=1"><i class="material-icons">chevron_left</i></a></li>
              <li class=""><a href="?page={{ pacientes.previous_page_number }}">{{ atenciones.previous_page_number }}</a></li>
          {% else %}
              <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
          {% endif %}

          <li class="active"><a href="#!">{{ atenciones.number }}</a></li>

          {% if atenciones.has_next %}
              <li class="waves-effect"><a href="?page={{ pacientes.next_page_number }}">{{ atenciones.next_page_number }}</a></li>
              <li class="waves-effect"><a href="?page={{ pacientes.paginator.num_pages }}"><i class="material-icons">chevron_right</i></a></li>
          {% else %}
              <li class="disabled"><a href="#"><i class="material-icons">chevron_right</i></a></li>
          {% endif %}
        </ul>
        {% endif %}
</div>
{% endblock main %}