{% extends "base.html" %}
{% load static %}
{% block basecss %}
<style>
    header, main, footer {
        padding-left: 250px;
    }
    .sidenav {
        width: 250px;
    }
    @media only screen and (max-width : 992px) {
        header, main, footer {
            padding-left: 250px;
        }
    }
</style>
{% endblock basecss %}
{% block header %}

<ul id="slide-out" class="sidenav sidenav-fixed">
    <li><div class="user-view">
        <a href="#user"><img src="{% static 'img/nuts_logo.png' %}" width="200px" height="150px"></a>
        <a href="#name"><span class="black-text name">{{request.user.get_nombre_completo}}</span></a>
        <a href="#email"><span class="black-text email">{{request.user.get_nombre}}</span></a>
    </div></li>
    <li><a href="{% url 'pacientes-agregar' %}"><i class="material-icons">add</i>Agregar Paciente</a></li> 
    <li><a href="{% url 'pacientes' %}"><i class="material-icons">assignment_ind</i>Mis Pacientes</a></li>  
    <li><a href="{% url 'perfil' %}"><i class="material-icons">person</i>Mi Perfil</a></li>
    <li><div class="divider"></div></li>
    <li><a href="{% url 'logout' %}"><i class="material-icons">exit_to_app</i>Cerrar Sesión</a></li
    
</ul>

{% comment %} <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a> {% endcomment %}

{% endblock header %} 


{% block main %} 
   
{% endblock main %}