{% extends "nutricionista/base_nutricionista.html" %}
{% load static %}
{% load humanize %}
{% block main %}

<!--SLIDER-->
<div class="slider">
    <ul class="slides">
      <li>
        <img src="{% static 'img/slider1.jpg' %}">
        <div class="caption center-align">
          <h3 class="black-text">Bienvenido a Nuts</h3>
          <h5 class="black-text text-lighten-3">{{request.user.get_nombre_completo}}</h5>
        </div>
      </li>
      <li>
        <img src="{% static 'img/slider2.jpg' %}">
        <div class="caption left-align">
          <h3>Nuts</h3>
          <h5>Organiza tus comidas</h5>
        </div>
      </li>
      <li>
        <img src="{% static 'img/slider3.jpg' %}"> 
        <div class="caption right-align">
          <h3>Nuts</h3>
          <h5>Acerca a tus pacientes</h5>
        </div>
      </li>
      <li>
        <img src="{% static 'img/slider4.jpg' %}"> 
        <div class="caption center-align">
          <h3 class="black-text">Nuts</h3>
          <h5 class="black-text text-lighten-3">Agiliza tus consultas</h5>
        </div>
      </li>
    </ul>
</div>    
<div class="row">
    <div class="col l6">
        <div class="card blue darken-2 hoverable">
            <div class="card-content white-text">
                <span class="card-title">Cantidad de Pacientes</span>
                <h3>{{numero_pacientes}}</h3>
            </div>
            <div class="card-action center">
                <a href="{% url 'pacientes' %}">Ver mis Pacientes</a>
            </div>
        </div>
    </div>
    <div class="col l6">
        <div class="card green darken-2 hoverable">
            <div class="card-content white-text">
                <span class="card-title">Distribucion de Pacientes</span>
                    <div class="row">
                        <div class="col l6">
                            <p>Bajo peso:  {{pacientes_bajo}}</p>
                            <p>Peso Normal:  {{pacientes_normal}}</p>
                            <p>Sobrepeso:  {{pacientes_sobrepeso}}</p>
                        </div>
                        <div class="col l6">
                            <p>Obesidad Grado I:  {{pacientes_obesidad1}}</p>
                            <p>Obesidad Grado II:  {{pacientes_obesidad2}}</p>
                            <p>Obesidad Morbida:  {{pacientes_obesidad_morbida}}</p>
                        </div>
                    </div>
            </div>
            <div class="card-action center">
                <a href="{% url 'pacientes' %}">Ver mis Pacientes</a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col s12">
        <div class="card panel">
        <p class="flow-text blue-text text-darken-2" style="padding:5px; margin:5px;">Próximas atenciones</p>
        <ul class="collection">
            {% if atenciones %}
            <table class="bordered">
                <thead>
                    <tr>
                        <th></th>
                        <th data-field="id">Fecha</th>
                        <th data-field="name">Hora</th>
                        <th data-field="price">Paciente</th>
                        <th>Ver detalle</th>
                    </tr>
                </thead>
            {% for atencion in atenciones %}
                <tr>
                    <td><span class="blue" style="border-radius:5px; color:white; padding:4px;">{{atencion.fecha|naturalday}}</span></td>
                    <td>{{atencion.fecha}}</td>
                    <td>{{atencion.hora}}</td>
                    <td>{{atencion.paciente.user.get_nombre_completo}}</td>
                    <td><a href="{% url 'atencion-single' pk=atencion.pk %}">Ver reserva</a></td>
                </tr>
            {% endfor %}
            </table>
            <li class="collection-item rigth"><a href="{% url 'atenciones' %}">Ver todas las reservas</a></li>
            {% else %}
            <p class="center">No hay reservas agendadas.</p>
            {% endif %}
            
        </ul>
        </div>
    </div>
</div>
{% comment %} <div class="row">
    <div class="col l12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Tercera card</span>
                <p>Peso:</p>
            </div>
        </div>
    </div>
</div> {% endcomment %}
{% endblock main %}