{% extends "nutricionista/base_nutricionista.html" %}
{% load static %}
{% block main %}


<div class="slider">
    <ul class="slides">
      <li>
        <img src="{% static 'img/slider1.jpg' %}">
        <div class="caption center-align">
          <h3 class="black-text">Bienvenido a Nuts</h3>
          <h5 class="black-text text-lighten-3">{{request.user.get_nombre_completo}}</h5>
        </div>
      </li>
      <li>
        <img src="{% static 'img/slider2.jpg' %}">
        <div class="caption left-align">
          <h3>Nuts</h3>
          <h5>Organiza tus comidas</h5>
        </div>
      </li>
      <li>
        <img src="{% static 'img/slider3.jpg' %}"> 
        <div class="caption right-align">
          <h3>Nuts</h3>
          <h5>Acerca a tus pacientes</h5>
        </div>
      </li>
      <li>
        <img src="{% static 'img/slider4.jpg' %}"> 
        <div class="caption center-align">
          <h3 class="black-text">Nuts</h3>
          <h5 class="black-text text-lighten-3">Agiliza tus consultas</h5>
        </div>
      </li>
    </ul>
  </div>    
<div class="row">
    <div class="col l6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Cantidad de Pacientes</span>
                <p>Numero</p>
            </div>
        </div>
    </div>
    <div class="col l6">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Distribucion de Pacientes</span>
                <p>Peso Normal:</p>
                <p>Peso Obeso:</p>
                <p>Peso Sobrepeso:</p>
                <p>Peso Obesidad Morbida:</p>
            </div>
            <div class="card-action center">
                <a href="{% url 'pacientes' %}">Ver mis Pacientes</a>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col l12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Tercera card</span>
                <p>Peso:</p>
            </div>
        </div>
    </div>
</div>
{% endblock main %}