{% extends "nutricionista/base_nutricionista.html" %}
{% load static %}
{% load humanize %}
{% block main %}

<div class="row">
    <div class="col s12">
            <meter style="width:75%;height:25px;" id="bars" title="Awesomeness" max="10" low="1" high="8" optimum="5" value="7">Value can be here too</meter>
    </div>
    <div class="col s12">
        NORAML -{{pacientes_normal}}
        <br>
        BAJO  -{{pacientes_bajo}}
        <br>
        SOBRE - {{pacientes_sobrepeso}}
        <br>
        1  -{{pacientes_obesidad1}}
        <br>
        2  -{{pacientes_obesidad2}}
        <br>
        MORDBO -  {{pacientes_obesidad_morbida}}
    </div>
</div>
<div class="row">
    <!-- Cantidad de pacientes-->
    <div class="col s12 m4">
        <div class="card carta yellow darken-4 lighten-2 white-text" >
            <div class="card-content">
                <span class="card-title">Atenciones hoy</span>
                <h3>{{atenciones_hoy}}</h3>
            </div>
            <div class="card-action center subtitulo-card" style="background-color: #5fae7b; ">
                <a style="color:white;" href="{% url 'atenciones' %}">Ver</a>
            </div>
        </div>
    </div>

    <!-- Cantidad de pacientes-->
    <div class="col s12 m4">
        <div class="card carta" >
            <div class="card-content">
                <span class="card-title">Atenciones mañana</span>
                <h3>{{atenciones_tomorrow}}</h3>
            </div>
            <div class="card-action center subtitulo-card" style="background-color: #5fae7b; ">
                <a style="color:white;" href="{% url 'atenciones' %}">Ver</a>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card carta" >
            <div class="card-content">
                <span class="card-title">Todos los pacientes</span>
                <h3>{{numero_pacientes}}</h3>
            </div>
            <div class="card-action center subtitulo-card" style="background-color: #5fae7b; ">
                <a style="color:white;" href="{% url 'pacientes' %}">Ver</a>
            </div>
        </div>
    </div>
    <!-- Cantidad de pacientes-->
    {% comment %} <div class="col s12 m3">
        <div class="card carta" >
            <div class="card-content">
                <span class="card-title"></span>
                <h3></h3>
            </div>
            <div class="card-action center subtitulo-card" style="background-color: #5fae7b; ">
                <a style="color:white;" href="{% url 'pacientes' %}">VER</a>
            </div>
        </div>
    </div> {% endcomment %}

</div>
{% comment %} <div class="row">
    <div class="card carta">
        <div class="card-content">
            <div class="row">
                <span class="card-title ">Próxima atención en X minutos</span>
                <div class="col s6">
                    <p>Nombre: </p>
                    <p>Fecha: </p>
                    <p>Hora: </p>
                    <p>Observación: {% lorem 1 %}</p>
                </div>
                <div class="col s6">
                    <img src="{% static 'img/nuts_logo.png' %}" alt="" height="100px" width="120px;">
                </div>
            </div>
        </div>
        <div class="card-action">
            <a href="#">Ver más</a>
        </div>
    </div>
</div> {% endcomment %}
<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel purple lighten-4 z-depth-2 carta-nutri center">
        {% if proxima_atencion %}
            <div class="row valign-wrapper">
            <div class="col">
                {% if proxima_atencion.paciente.fichageneral.imagen %}
                <img src="{{proxima_atencion.paciente.fichageneral.imagen.url}}" alt="" width="100px" class="responsive-img"> <!-- notice the  class -->
                {% else %}
                <img src="{% static 'img/nuts_logo.jpg' %}" alt="" class="responsive-img" width="200px">  
                {% endif %}
            </div>
            <div class="col">
                <p>Próxima atención en: {{proxima_atencion.tiempo_a_la_reserva}}</p>
                <span class="black-text">
                    {{proxima_atencion.paciente.user.get_nombre_completo}}
                </span>
            </div>
            <div class="col">
                {% if proxima_atencion %}
                <a href="{% url 'atencion-single' proxima_atencion.pk %}">Ver detalle</a>
                {% else %}
                {% endif %}
            </div>
            </div>
        {% else %}
        No tienes próximas atenciones agendadas. 
        <br>
        <br>
        <a href="#" class="btn boton">Agenda aquí</a>
        {% endif %}
    </div>
</div>
{% comment %} <div class="row">
    <div class="col l12">
        <div class="card blue-grey darken-1">
            <div class="card-content white-text">
                <span class="card-title">Tercera card</span>
                <p>Peso:</p>
            </div>
        </div>
    </div>
</div> {% endcomment %}
{% endblock main %}