{% extends "nutricionista/base_nutricionista.html" %}

{% block main %}
<div class="row">
    <div class="col s12">
        <div class="container">
            <h3 class="header left purple-text">Listado de pacientes</h3>
        </div>       
    </div>
</div>
<div class="row">
    <div class="col s12">
        {% for message in messages  %}
            {% if message.tags == 'success' %}
                <p class="green-text">{{message}}</p>
            {% else %}
                <p>{{message}}</p>
            {% endif %}
        {% endfor %} 
    </div>
</div>
<div class="container">
    <div class="row center">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row l12">
                <div class="input-field col s12">
                    <input id="busqueda" name="busqueda" type="text" class="validate">
                    <label for="busqueda">Rut</label>
                    <div class="row">
                        <div class="col l6">
                            <button class="btn waves-effect waves-light" type="submit" name="action">Buscar</button>
                        </div>
                        <div class="col l6">
                            <a href="{%url 'pacientes' %}">Ver todos</a>
                        </div>
                    </div>
                </div>     
            </div>
        </form>

    </div>
    <div class="row">
       <div class="col s12">
           <table class="highlight">
               <thead>
                   <tr>
                       <th data-field="nombre">Nombre</th>
                       <th data-field="apellidos">Apellidos</th>
                       <th data-field="rut">Rut</th>
                       <th data-field="ver_ficha">Ver Ficha</th>
                       {% comment %} <th data-field="eliminar_paciente">Eliminar</th> {% endcomment %}
                   </tr>
               </thead>
               <tbody>
                   {% if pacientes %}
                        {% for paciente in pacientes  %}
                        <tr>
                                <td>{{paciente.user.nombres}}</td>
                                <td>{{paciente.user.apellidos}}</td>
                                <td>{{paciente.user.rut}}</td>
                                <td><a href="{% url 'paciente-detalle' pk=paciente.pk %}">Ver detalle</a></td>
                                {% comment %} <td><a href="#"><i class="small material-icons">delete_forever</i></a></td> {% endcomment %}
                            </tr>
                        {% endfor %}
                   {% else %}
                        <tr>
                            <td>No hay pacientes con ese Rut</td>
                        </tr>
                   {% endif %}
                   
                   
               </tbody>
           </table>
       </div>
    </div>
</div>
{% endblock main %}