{% extends "nutricionista/base_nutricionista.html" %}
{% block activeFichaAntecedentes %} active active-submenu {% endblock %}
{% block main %}
<div class="row">
    <div class="col s12">

            <div class="row sub-menu" style="padding-top:30px;">
                <div class="col s6 center">
                    <a href="{% url 'paciente-detalle-ficha' paciente.pk 'general' %}" class="breadcrumb purple-text"><i class="material-icons left">navigate_before</i>Ficha general</a>
                </div>
                <div class="col s6 center">
                    <a href="{% url 'paciente-detalle-ficha' paciente.pk 'nutricional' %}" class="breadcrumb purple-text"><i class="material-icons right">navigate_next</i>Ficha nutricional</a>
                </div>
            </div>
            <h3 class="header left purple-text">Ficha antecedentes alimentarios</h3>
 
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12">
            {% for message in messages  %}
                {% if message.tags == 'success' %}
                    <p class="green-text">{{message}}</p>
                {% else %}
                    <p>{{message}}</p>
                {% endif %}
            {% endfor %}
         
        </div>
    </div>
    {{ form.non_field_errors }}
    <ul>
        {% for field in form %}
            {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
        {% endfor %}
    </ul>
    <div class="row">
            <form action="" method="post">
                {% csrf_token %}
                    <div class="col s12">
                            <table>
                                <tbody>
                                    <tr>
                                        <td><label for="id_perdida_peso">Perdida Peso</label>{{form.perdida_peso}}</td>
                                        <td><label for="id_ganancia_peso">Ganancia Peso</label>{{form.ganancia_peso}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><label for="id_dif_deglucion">Dificultad de deglucion</label>{{form.dif_deglucion}}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2"><label for="id_apetito">Apetito</label>{{form.apetito}}</td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label>Vomito</label>
                                            <div class="switch">
                                                <label>
                                                    Si
                                                    {{form.vomito}}
                                                    <span class="lever"></span>
                                                    No
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                                <label>Nauseas</label>
                                                <div class="switch">
                                                    <label>
                                                        Si
                                                        {{form.nauseas}}
                                                        <span class="lever"></span>
                                                        No
                                                    </label>
                                                </div>
                                        </td>
                                    </tr>    
                                    <tr>    
                                        <td>
                                            <label>Diuresis</label>
                                            <div class="switch">
                                                <label>
                                                    Si
                                                    {{form.diuresis}}
                                                    <span class="lever"></span>
                                                    No
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <label>Intolerancia Alimentaria</label>
                                            <div class="switch">
                                                <label>
                                                    Si
                                                    {{form.intolerancia_alimentaria}}
                                                    <span class="lever"></span>
                                                    No
                                                </label>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                    <div class="row center">
                        <input type="submit" value="Actualizar" class="btn"> 
                    </div>   
                     
                </form>
    </div>
</div>
{% endblock main %}