{% extends "nutricionista/base_nutricionista.html" %}

{% block main %}
<div class="row">
    <div class="col s12">
        <div class="container">
            <h3 class="header left purple-text">Resumen del paciente</h3>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col l6">
          <div class="card blue darken-3">
            <div class="card-content white-text">
              <span class="card-title">Informacion de la cuenta</span>
                    <p>Rut: {{paciente.user.rut}}</p>
                    <p>Nombres: {{paciente.user.nombres}}</p>
            </div>
            <div class="card-action center">
              <a href="{% url 'paciente-detalle-ficha' paciente.pk 'usuario' %}">Ver Detalle</a>
            </div>
          </div>
        </div>
        <div class="col l6">
          <div class="card blue darken-3">
            <div class="card-content white-text">
              <span class="card-title">Detalles Generales</span>
              <p>Ocupacion: {{paciente.ocupacion}}</p>
              <p>Nacionalidad: {{paciente.nacionalidad}}</p>
            </div>
            <div class="card-action center">
              <a href="{% url 'paciente-detalle-ficha' paciente.pk 'general' %}">Ver Detalle</a>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col l6">
        <div class="card blue darken-3">
          <div class="card-content white-text">
            <span class="card-title">Antecedentes Alimentarios</span>
            <p>Perdida de peso: {{paciente.perdida_peso}}</p>
            <p>Perdida de peso: {{paciente.ganancia_peso}}</p>
          </div>
          <div class="card-action center">
            <a href="{% url 'paciente-detalle-ficha' paciente.pk 'antecedentes' %}">Ver Detalle</a>
          </div>
        </div>
      </div>
      <div class="col l6">
          <div class="card blue darken-3">
            <div class="card-content white-text">
              <span class="card-title">Ficha Nutricional</span>
              <p>Peso: {{paciente.peso}}</p>
              <p>Diagnostico: {{paciente.diagnostico_peso}}</p>
            </div>
            <div class="card-action center">
              <a href="{% url 'paciente-detalle-ficha' paciente.pk 'nutricional' %}">Ver Detalle</a>
            </div>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col l6">
        <div class="card blue darken-3">
          <div class="card-content white-text">
            <span class="card-title">Ficha Bioquimica</span>
            <div class="row">
              <div class="col">
                <p>Colesterol: {{paciente.colesterol_mgdl}}</p>
                <p>Glicemia: {{paciente.glicemia_mgdl}}</p>
              </div>
              <div class="col">
                <p>Trigliceridos: {{paciente.tg}}</p>
                <p>Hemoglobina: {{paciente.hemoglobina_gdll}}</p>
              </div>
            </div>
          </div>
          <div class="card-action center">
            <a href="{% url 'paciente-detalle-ficha' paciente.pk 'bioquimica' %}">Ver Detalle</a>
          </div>
        </div>
      </div>
      <div class="col l6">
          <div class="card blue darken-3">
            <div class="card-content white-text">
              <span class="card-title">Calculadora Piramidal</span>
                <div class="row">
                  <div class="col">
                    <p>Dato</p>
                    <p>Dato</p>
                  </div>
                  <div class="col">
                    <p>Dato</p>
                    <p>Dato</p>
                  </div>
                </div>
              </div>
            <div class="card-action center">
              <a href="{% url 'paciente-detalle-ficha' paciente.pk 'calculadora' %}">Ver Detalle</a>
            </div>
          </div>
      </div>
      <div class="row">
        <div class="col l12">
          <div class="card blue darken-3">
            <div class="card-content white-text">
              <span class="card-title">Recomendacion</span>
              <p>Recomendacion</p>
            </div>
            <div class="card-action center">
              <a href="{% url 'paciente-detalle-ficha' paciente.pk 'recomendaciones' %}">Ver Detalle</a>
            </div>
          </div>
        </div>
      </div>
    </div>

</div>


{% endblock main %}