{% extends "nutricionista/base_nutricionista.html" %}

{% block main %}
<nav>
    <div class="nav-wrapper center blue">
        <ul>
        <li class="active purple darken-2">Atendiendo a {{paciente.user.get_nombre_completo}}</li>
        <li><a href="{% url 'paciente-detalle-ficha' paciente.pk 'usuario' %}">Ficha Usuario </a></li>
        <li><a href="{% url 'paciente-detalle-ficha' paciente.pk 'general' %}">Ficha General </a></li>
        <li><a href="{% url 'paciente-detalle-ficha' paciente.pk 'antecedentes' %}">Antecedentes Alimentarios </a></li>
        <li><a href="{% url 'paciente-detalle-ficha' paciente.pk 'nutricional' %}">Ficha nutricional </a></li>
        <li><a href="{% url 'paciente-detalle-ficha' paciente.pk 'bioquimica' %}">Ficha Bioquímica</a></li>
        <li><a href="{% url 'paciente-detalle-ficha' paciente.pk 'calculadora' %}">Calculadora piramidal</a></li>
        <li class="active"><a href="{% url 'paciente-detalle-ficha' paciente.pk 'Recomendaciones' %}">Recomendaciones</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col s12 center">
            Recomendación nutricional
        </div>
    </div>
    <div class="row">
        {% comment %} <div class="col s12">
            <h1>Listado de alimentos</h1>
                {% include "nutricionista/modules/listado-grupo-alimentario.html" %}
        </div> {% endcomment %}
        <div class="row">
            <div class="col s12">
                <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">add</i>
                    <input type="text" id="autocomplete-alimentos" class="autocomplete">
                    <label for="autocomplete-alimentos">Alimento</label>
                </div>
                </div>
            </div>
        </div>
                    
    </div>
</div>
{% endblock main %}
{% block costumjs %}
<script> let url_alimentos_json = `{% url "grupo-alimentos-json" %}`</script>
<script type="text/javascript">
    //Capturar alimentos
        $.getJSON(url_alimentos_json, function(data){
        let lista_grupo_alimentos = []
        lista_grupo_alimentos = JSON.parse(data)
        lista_grupo_alimentos.forEach((e) => {
            console.log(e)
        })
    
    })
    $(document).ready(function(){
        $('input.autocomplete').autocomplete({
          data: {
            "Apple": null,
            "Microsoft": null,
            "Google": 'https://placehold.it/250x250'
          },
          onAutocomplete: function(){
              console.log("sadasd")
          }
        });
    });
      
        function getId() {
          alert($('#autocomplete').data('id'));
        }
    let component = $('.listado-alimentos')
    console.log(component)
    </script>
{% endblock costumjs %}