{% extends "nutricionista/base_nutricionista.html" %}
{% load static %}
{% block activePacientes %} active {% endblock %}
{% block main %}
<div class="row">
    <div class="col s12">
        <h3 class="subtitulo">Listado de pacientes</h3>
        <blockquote>Acá encuentrarás la lista de tus pacientes.</blockquote>
    </div>
</div>
<div class="row">
    <div class="col s12">
        {% for message in messages  %}
            {% if message.tags == 'success' %}
                <p class="green-text">{{message}}</p>
            {% else %}
                <p>{{message}}</p>
            {% endif %}
        {% endfor %} 
    </div>
</div>
<div class="container">
    <div class="row center">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row l12">
                <div class="input-field col s12">
                    <input id="busqueda" name="busqueda" type="text" class="validate">
                    <label for="busqueda">Rut</label>
                    <div class="row">
                        <div class="col l6">
                            <button class="btn boton" type="submit" name="action">Buscar</button>
                        </div>
                        <div class="col l6">
                            <a href="{% url 'pacientes' %}" class="btn boton">Ver todos ({{total_pacientes}})</a>
                        </div>
                    </div>
                </div>     
            </div>
        </form>

    </div>

    <div class="row">
        <div class="col s12">
            <table class="highlight">
                <thead>
                    <tr>
                        <th data-field="foto">Foto</th>
                        <th data-field="nombre">Nombre</th>
                        <th data-field="apellidos">Apellidos</th>
                        <th data-field="rut">Rut</th>
                        <th data-field="ver_ficha">Ver Ficha</th>
                    </tr>
                </thead>
                <tbody>
                        {% for paciente in pacientes  %}
                            <tr>
                                <td>

                                    {% if paciente.fichageneral.imagen.url %}
                                    <img src="{{paciente.fichageneral.imagen.url}}" alt="" class="responsive-img circle" width="90px">
                                    {% else %}
                                    <img src="{% static 'img/nuts_logo.png' %}" alt="" class="responsive-img " width="100px">  
                                    {% endif %}

                                </td>
                                <td>{{paciente.user.nombres}}</td>
                                <td>{{paciente.user.apellidos}}</td>
                                <td>{{paciente.user.rut}}</td>
                                <td><a href="{% url 'paciente-detalle' pk=paciente.pk %}"><i class="medium material-icons purple-text">chevron_right</i></a></td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4" class="red-text"> No se encontraron pacientes</td>
                            </tr>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!--PAGINATOR-->
<div class="row center">
        {% if pacientes.paginator.num_pages > 1 %} 
        <ul class="pagination">
          {% if pacientes.has_previous %}
              <li class=""><a href="?page=1"><i class="material-icons">chevron_left</i></a></li>
              <li class=""><a href="?page={{ pacientes.previous_page_number }}">{{ pacientes.previous_page_number }}</a></li>
          {% else %}
              <li class="disabled"><a href="#"><i class="material-icons">chevron_left</i></a></li>
          {% endif %}

          <li class="active"><a href="#!">{{ pacientes.number }}</a></li>

          {% if pacientes.has_next %}
              <li class="waves-effect"><a href="?page={{ pacientes.next_page_number }}">{{ pacientes.next_page_number }}</a></li>
              <li class="waves-effect"><a href="?page={{ pacientes.paginator.num_pages }}"><i class="material-icons">chevron_right</i></a></li>
          {% else %}
              <li class="disabled"><a href="#"><i class="material-icons">chevron_right</i></a></li>
          {% endif %}
        </ul>
        {% endif %}


     
</div>


{% endblock main %}