{% extends "nutricionista/base_nutricionista.html" %}

{% block main %}
<nav>
    <div class="nav-wrapper center blue">
        <ul>
        <li><a href="{% url 'paciente-detalle-ficha' paciente.pk 'general' %}">Ficha general </a></li>
        <li><a href="{% url 'paciente-detalle-ficha' paciente.pk 'antecedentes' %}">Antecedentes Alimentarios </a></li>
        <li class="active"><a href="{% url 'paciente-detalle-ficha' paciente.pk 'nutricional' %}">Ficha nutricional </a></li>
        <li><a href="{% url 'paciente-detalle-ficha' paciente.pk 'bioquimica' %}">Ficha Bioquímica</a></li>
        <li><a href="{% url 'paciente-detalle-ficha' paciente.pk 'calculadora' %}">Calculadora piramidal</a></li>
        <li><a href="{% url 'paciente-detalle-ficha' paciente.pk 'recomendaciones' %}">Recomendaciones</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col">
            <p class="flow-text">Información Nutricional</p>
            {% for message in messages  %}
                {% if message.tags == 'success' %}
                    <p class="green-text">{{message}}</p>
                {% else %}
                    <p>{{message}}</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                    <div class="col s12 m6 l6">
                        <table class="bordered">
                            <tbody>
                                <tr>
                                    <td colspan="2"><label for="id_peso">Peso</label>{{form.peso}}</td>
                                    <td colspan="2"><label for="id_talla">Talla</label>{{form.talla}}</td>
                                    
                                </tr>
                                <tr>
                                    <td><label for="id_cintura">Cintura</label>{{form.cintura}}</td>
                                    <td><label for="id_presion_arterial">Presion Art.</label>{{form.presion_arterial}}</td>
                                    <td><label for="id_h_g_t">HGT</label>{{form.h_g_t}}</td>
                                    <td><label for="id_p_bicipital">P.Bicipital</label>{{form.p_bicipital}}</td>
                                    
                                </tr>
                                <tr>
                                    <td><label for="id_p_tripicital">P.Tripicital</label>{{form.p_tripicital}}</td>
                                    <td><label for="id_p_sub_escapular">P.Subescapular</label>{{form.p_sub_escapular}}</td>
                                    <td><label for="id_p_sub_iliaco">P.Subiliaco</label>{{form.p_sub_iliaco}}</td>
                                    <td><label for="id_c_braquial">C. Braquial</label>{{form.c_braquial}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col s6 m6 l6">
                        <table class="bordered">
                            <thead>
                                <tr>
                                    <td>IMC</td>
                                    <td>Diagnostico</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{form.imc}}</td>
                                    <td class="disabled">{{form.diagnostico_peso}}</td>
                                </tr>
                                <tr>
                                        <td colspan="2"><a href="#" class="waves-effect waves-light btn right">Calcular</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row center">
                    <button class="btn waves-effect waves-light" type="submit" name="action">Actualizar</button>
                </div>
    </form>
  
</div>
{% endblock main %}