{% extends "nutricionista/base_nutricionista.html" %}
{% load static %}
{% block activeFichageneral %} active active-submenu {% endblock %}
{% block main %}
<div class="row">
    <div class="col s12">
        <div class="row sub-menu" style="padding-top:30px;">
            <div class="col s6 center">
                <a href="{% url 'paciente-detalle-ficha' paciente.pk 'usuario' %}" class="breadcrumb purple-text"><i class="material-icons left">navigate_before</i>Ficha usuario</a>
            </div>
            <div class="col s6 center">
                <a href="{% url 'paciente-detalle-ficha' paciente.pk 'antecedentes' %}" class="breadcrumb purple-text"><i class="material-icons right">navigate_next</i>Antecedentes</a>
            </div>
        </div>
        <div class="row">
            <div class="col s8">
                <h3 class="header left purple-text">Información general del paciente</h3>
            </div>
            <div class="col s4">
                {% if paciente.fichageneral.imagen %}
                <img src="{{paciente.fichageneral.imagen.url}}" alt="" class="responsive-img circle" width="200px">
                {% else %}
                <img src="{% static 'img/default.jpg' %}" alt="" class="responsive-img circle" width="150px">  
                {% endif %}
                
            </div>
            </div>
        <ul>
            {% for field in form %}
                {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
            {% endfor %}
        </ul>
    </div>       
</div>
<div class="container">
    <div class="row">
        <div class="col s12">
            <p class="flow-text">Información general</p>
            {% for message in messages  %}
                {% if message.tags == 'success' %}
                    <p class="green-text">{{message}}</p>
                {% else %}
                    <p>{{message}}</p>
                {% endif %}
            {% endfor %}
            <form name="form_paciente" action="" method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" value="Actualizar" class="btn">  
            </form>
        </div>
    </div>
</div>
{% endblock main %}