{% extends "nutricionista/base_nutricionista.html" %}
{% block activeRecomendaciones %} active active-submenu {% endblock %}
{% block costumcss %}
    <style>
        .subtitulo {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            font-style: italic;
            padding: 10px;
            font-size: 23px;
            color: #644390;
            border-top: solid #644390 2px;
            border-bottom: solid #644390 2px;
            text-align: center;
        }

    </style>
{% endblock costumcss %}
{% block main %}
<div class="row">
    <div class="col s12">
        <div class="container">
            <div class="row sub-menu" style="padding-top:30px;">
                <div class="col s12 center">
                    <a href="{% url 'paciente-detalle-ficha' paciente.pk 'calculadora' %}" class="breadcrumb purple-text"><span><i class="material-icons">arrow_back</i>Volver calculadora piramidal</span> </a>
                </div>
            </div>
        </div>       
    </div>
</div>
<!-- RESUMEN NUTRICIONAL-->
<div class="row">
        <h3 class="title subtitulo"><i class="material-icons" style="margin-right: 30px;">folder_shared</i>Resumen nutricional</h3>
    <div class="col s12 m4">

        <span class="card-title">Ficha Nutricional</span>
        <p>peso: </p>
        <p>talla: </p>
        <p>imc: </p>

    </div>
    <div class="col s12 m4">

        <span class="card-title ">Calculadora piramidal</span>
        <p >% VCT</p>
        <p >Total Kcal</p>

    </div>
    <div class="col s12 m4">

        <span class="card-title">Grupos de alimentos y porción</span>
        <p >Cereales (3)</p>
        <p>Grasas (2)</p>
        <p >Total Kcal</p>

    </div>
</div>
<div class="row">
    <div class="col s12 m7">

        <div class="row">
                    <h3 class="title subtitulo"><i class="material-icons" style="margin-right: 30px;">access_time</i>Definir los horarios</h3>
            <div class="col s12">
                <input type="text" placeholder="Agregar comida" >
                <input type="submit" value="Agregar" class="btn green">
            </div>

        </div>
        <div class="row">
            <div class="col m12 ">
                    <h3 class="title subtitulo"><i class="material-icons" style="margin-right: 30px;">compare_arrows</i>Elige los grupos de alimentos y pociones</h3>
                <div class="col l6">
                    <div class="input-field">
                        <select>
                            <option>Selecciona un grupo de alimento</option>
                            <option>Cereales(3)</option>
                            <option>Grasas(2)</option>
                            <option>Azucares(1)</option>
                        </select>
                    </div>
        
                </div>

                <div class="col sl6">
                    <div class="input-field">
                        <select>
                            <option>Seleccione una comida</option>
                            <option>Almuerzo</option>
                            <option>Cena</option>
                            <option>Colación</option>
                            <option>Desayuno</option>
                        </select>
                    </div>
                    <div class="input-field" style="margin-top:40px;">
                        <input type="submit" class="timepicker btn white purple-text" value="Agregar a la recomendación">
                    </div>
                </div>

                    
            </div> 
        </div>
    </div>
    <div class="col s12 m5">
            <div class="row">
                    <h3 class="title subtitulo"> <i class="material-icons" style="margin-right: 30px;">filter_list</i> Minuta diaria</h3>
                <table class="bordered">
                    <thead>
                        <tr>
                            <th data-field="id">Comida y hora</th>
                            <th data-field="name">Alimento y grupo de alimento</th>
                            <th data-field="price">Kcal</th>
                            <th data-field="price">% cuota diaria</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Desayuno</td>
                            <td><ul><li>Yougurth (lcateos)</li><li>Cereal (Cereales)</li></ul> </td>
                            <td>560 kcal</td>
                            <td>30 %</td>
                        </tr>
                        <tr>
                            <td>Almuerzo</td>
                            <td><ul><li>Albonidgas (Carne)</li><li>Arroz (Cereal)</li></ul></td>
                            <td>800 kcal</td>
                            <td>60%</td>
                        </tr>
                        <tr>
                            <td>Cena</td>
                            <td><ul><li>Pan (Cereales)</li><li>Huevos (Proteinas)</li></ul> </td>
                            <td>730 kcal</td>
                            <td>97%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                    
    </div>
    </div>
</div>
<div class="row">
<div class="row">

    <div class="row">
            
        <div class="col s12 m6">
                <h5 class="title subtitulo">Agregar una observación</h5>
            <form action="">
              <div class="input-field col s12">
                <textarea id="textarea1" class="materialize-textarea"></textarea>
                <label for="textarea1">Observación</label>
              </div>
            </form>
        </div>
        <div class="col s12 m6">
                <h5 class="title subtitulo">Acciones</h5>
                <a class="modal-trigger btn white purple-text" href="#modal_modificar_reserva"> Agendar Atención</a>
                <input type="submit" class="btn white green-text " value="Guardar">
                <input type="submit" class="btn white red-text " value="Limpiar">
            </div>
    </div>
    </div>
    <!-- Modal MODIFICAR -->
<div id="modal_modificar_reserva" class="modal" >
        <div class="modal-content">
            <h4>Modificar la reserva del paciente {{atencion.paciente.user.get_nombre_completo}}</h4>
            <form action="" id="form_eliminar_paciente" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" class="purple-text btn-small white" name="modificar_reserva" value="Agendar">
                <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancelar</a>
            </form>
        </div>
</div>
{% endblock main %}
{% block costumjs %}
<script> let url_alimentos_json = `{% url "grupo-alimentos-json" %}`</script>
<script type="text/javascript">
</script>
{% endblock costumjs %}