{% extends "nutricionista/base_nutricionista.html" %}
{% block activeFichageneral %} active {% endblock %}
{% block main %}
<div class="row">
    <div class="col s12">
        <div class="container">
            <h3 class="header left purple-text">Información general del paciente</h3>
        </div>       
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col s12">
            <p class="flow-text">Información general</p>
            {% for message in messages  %}
                {% if message.tags == 'success' %}
                    <p class="green-text">{{message}}</p>
                {% else %}
                    <p>{{message}}</p>
                {% endif %}
            {% endfor %}
            <form name="form_paciente" action="" method="post">
                {% csrf_token %}
                {{form_paciente}}
                <input type="submit" value="Actualizar" class="btn">  
            </form>
        </div>
    </div>
</div>
{% endblock main %}