{% extends "nutricionista/base_nutricionista.html" %}

{% block activePacientesAgregar %} active {% endblock %}
{% block main %}
<h1 class="subtitulo">Agregar Paciente</h1>
<div class="container">
    <div class="row">
        <div class="messages col s12 center-align ">
            {% if messages %}
                {% for message in messages %}
                    <p class="green-text flow-text">{{message}}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col s12 form-ingreso-paciente">
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_table}}
                <div class="center">
                    <input type="submit" value="Agregar Paciente" class="btn boton">
                </div>
            </form>
        </div>

    </div>
    <blockquote>
           Una vez que agregues el paciente, podrás llenar sus datos en la ficha de paciente.
    </blockquote>
</div>
{% endblock main %}