{% extends "nutricionista/base_nutricionista.html" %}
{% block activeFichaUsuario %} active active-submenu {% endblock %}
{% block main %}
<div class="row">
    <div class="col s12">
        <div class="row sub-menu" style="padding-top:30px;">
            <div class="col s6 center">
                <a href="{% url 'paciente-detalle' paciente.pk %}" class="breadcrumb purple-text"><span><i class="material-icons left">navigate_before</i></span> Resumen</a>
            </div>
            <div class="col s6 center">
                <a href="{% url 'paciente-detalle-ficha' paciente.pk 'general' %}" class="breadcrumb purple-text">Ficha general <span><i class="material-icons right">navigate_next</i></span> </a>
            </div>
        </div>
        <h3 class="header left purple-text">Cuenta de usuario</h3>
        <ul>
            {% for field in form %}
                {% if field.errors %}<li>{{ field.label }}: {{ field.errors|striptags }}</li>{% endif %}
            {% endfor %}
        </ul>     
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col s12">
            {% for message in messages  %}
                {% if message.tags == 'success' %}
                    <p class="green-text">{{message}}</p>
                {% else %}
                    <p>{{message}}</p>
                {% endif %}
            {% endfor %}
            <form name="form_usuario" action="" method="post">
                {% csrf_token %}
                {{form_usuario}}
                <input type="submit" value="Actualizar" class="btn">  
            </form>
        </div>
    </div>
</div>
{% endblock main %}