{% extends "nutricionista/base_nutricionista.html" %}
{% block activeRecomendaciones %} active active-submenu {% endblock %}
{% block main %}
<div class="row">
    <div class="col s12">
        <div class="container">
            <div class="row sub-menu" style="padding-top:30px;">
                <div class="col s12 center">
                    <a href="{% url 'paciente-detalle-ficha' paciente.pk 'calculadora' %}" class="breadcrumb purple-text"><span><i class="material-icons">arrow_back</i>Volver calculadora piramidal</span> </a>
                </div>
            </div>
        </div>       
    </div>
</div>
<!-- RESUMEN NUTRICIONAL-->

<div class="row">
        <h3 class="title subtitulo"><i class="material-icons" style="margin-right: 30px;">folder_shared</i>Resumen nutricional</h3>
    <!-- Ficha nutricional-->
    <div class="col s12 m4">
        <div class="card-panel  z-depth-1 carta-nutri">
            <div class="row valign-wrapper">
                <div class="col s12">
                    <span class="card-title">Ficha Nutricional</span>
                    <p>peso: <span>{{paciente.fichanutricional.peso}}</span></p>
                    <p>talla: <span>{{paciente.fichanutricional.talla}}</span> </p>
                    <p>imc: <span>{{paciente.fichanutricional.imc}}</span></p> 
                    <p>diagnóstico: <span>{{paciente.fichanutricional.diagnostico_peso}}</span></p>         
                </div>
            </div>
        </div>
    </div>
    <!--Calculadora piramidal-->
    <div class="col s12 m4">
        <div class="card-panel z-depth-1 carta-nutri">
            <div class="row valign-wrapper">
                <div class="col s12">
                    <span class="card-title">Calculadora piramidal</span>
                    <p>% cho:  <span>{{paciente.calculadora.vct.porc_cho}}</span></p>
                    <p>% proteínas:  <span>{{paciente.calculadora.vct.porc_pro}}</span></p>
                    <p>% lípidos:  <span>{{paciente.calculadora.vct.porc_lip}}</span></p>
                    <p >Total Kcal: <span>{{paciente.calculadora.total_kcal}}</span></p>    
                </div>
            </div>
        </div>
    </div>
    <div class="col s12 m4">
        <div class="card-panel z-depth-1 carta-nutri">
            <div class="row valign-wrapper">
                <div class="col s12">
                    <span class="card-title">Grupos de alimentos y porción</span>
                    <ul>
                        {% for alimento in paciente.calculadora.grupos_porciones  %}
                            <li>{{alimento.nombre}}  <span> ({% if alimento.porcion %}
                            {{alimento.porcion}}
                            {% else %}
                            {{alimento.porcion}}
                            {% endif %})</span> </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="recomendacion_nutricional">
<div class="row">
    <div class="col s12 m7">

        <div class="row">
                    <h3 class="title subtitulo"><i class="material-icons" style="margin-right: 30px;">access_time</i>Definir las comidas</h3>
            <div class="col s6" class="left purple-text">
                <input id="input_comida" type="text" placeholder="Agregar comida" class="boton">
            </div>
            <div class="col s6 purple-text left">
                <input id="input_horario" type="text" class="timepicker btn white purple-text" value="horario" >
            </div>
            <div class="col s12">
                <input id="btn_agregar_comida" type="submit" value="Agregar" class="btn white boton">
            </div>
            <div class="col s12" id="msg_add_alimento"></div>
        </div>
        <div class="row">
            <h3 class="title subtitulo"><i class="material-icons" style="margin-right: 30px;">compare_arrows</i>Elige los grupos de alimentos y pociones</h3>
            <div class="col s6">
                <div class="input-field">
                    <select id="select_grupos_permitidos" class="browser-default">
                        
                    </select>
                </div>
            </div>

            <div class="col s6">
                <div class="input-field ">
                    <select id="select_alimentos_permitidos" class="browser-default">
                        <option disabled selected>Elija un alimento</option>
                    </select>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="input-field">
                    <select class="browser-default" id="select_comidas">
                        <option disabled selected>Elija una comida</option> 
                    </select>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="input-field">   
                    <select class="browser-default" id="select_porciones"> 
                        <option disabled selected >Elija una porción</option>
                    </select>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="input-field" style="margin-top:20px;">
                    <input id="btn_agregar_alimento_comida" type="submit" class="btn white boton" value="Agregar a la recomendación">
                </div>
            </div>

        </div>
    </div>
    <div class="col s12 m5">
            <div class="row">
                    <h3 class="title subtitulo"> <i class="material-icons" style="margin-right: 30px;">filter_list</i> Minuta diaria</h3>
                <table class="bordered">
                    <thead>
                        <tr>
                            <th data-field="id">Comida y hora</th>
                            <th data-field="name">Alimento y grupo de alimento</th>
                            <th data-field="price">Kcal</th>
                            <th data-field="price">% cuota diaria</th>
                        </tr>
                    </thead>
                    <tbody id="tabla_minuta">
                        <tr>
                            <td>Desayuno</td>
                            <td><ul><li>Yougurth (lcateos)</li><li>Cereal (Cereales)</li></ul> </td>
                            <td>560 kcal</td>
                            <td>30 %</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="row">
                    
    </div>
    </div>
</div>

<!--Observacion y recomendacion-->
    <div class="row">
            
        <div class="col s12 m6">
                <h5 class="title subtitulo">Agregar una observación</h5>
            <form action=""
                {% csrf_token %}
                <div class="input-field col s12">
                <textarea id="input_observacion" class="materialize-textarea"></textarea>
                <label for="textarea1">Observación</label>
                </div>
            </form>
        </div>
        <div class="col s12 m6">
            <h5 class="title subtitulo">Acciones</h5>
            <!-- <a class="modal-trigger btn white purple-text" href="#modal_modificar_reserva"> Agendar Atención</a> -->
            <input type="submit" class="btn white green-text" id="btn_observacion" value="Guardar">
            <!-- <input type="submit" class="btn white red-text " value="Limpiar"> -->
        </div>
    </div>
</div>

<div class="row" id="iniciar_recomendacion">
    <div class="col s12 center">
        <button id="btn_iniciar_recomendacion" class="btn">Iniciar recomendación</button>
    </div>
</div>
    <!-- Modal MODIFICAR -->
<input type="hidden" id="pk_paciente" value="{% if paciente %} {{paciente.pk}} {% else %} 0{% endif %}">
<div id="modal_modificar_reserva" class="modal" >
    <div class="modal-content">
        <h4>Modificar la reserva del paciente {{atencion.paciente.user.get_nombre_completo}}</h4>
        <form action="" id="form_eliminar_paciente" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" class="purple-text btn-small white" name="modificar_reserva" value="Agendar">
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancelar</a>
        </form>
    </div>
</div>
{% endblock main %}
{% block costumjs %}
<script> let url_alimentos_json = `{% url "grupo-alimentos-json" %}`</script>
<script type="text/javascript">

</script>
{% endblock costumjs %}