{% extends "nutricionista/base_nutricionista.html" %}
{% block activePacientes %} active {% endblock %}
{% block main %}
<div class="row">
    <div class="col s12">
        <h3 class="subtitulo">Listado de pacientes</h3>
    </div>
</div>
<div class="row">
    <div class="col s12">
        {% for message in messages  %}
            {% if message.tags == 'success' %}
                <p class="green-text">{{message}}</p>
            {% else %}
                <p>{{message}}</p>
            {% endif %}
        {% endfor %} 
    </div>
</div>
<div class="container">
    <div class="row center">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="row l12">
                <div class="input-field col s12">
                    <input id="busqueda" name="busqueda" type="text" class="validate">
                    <label for="busqueda">Rut</label>
                    <div class="row">
                        <div class="col l6">
                            <button class="btn blue" type="submit" name="action">Buscar</button>
                        </div>
                        <div class="col l6">
                            <a href="{%url 'pacientes' %}" class="btn boton">Ver todos</a>
                        </div>
                    </div>
                </div>     
            </div>
        </form>

    </div>
</div>
<div class="row">
    <div class="col s12">
        <table class="highlight">
            <thead>
                <tr>
                    <th data-field="nombre">Nombre</th>
                    <th data-field="apellidos">Apellidos</th>
                    <th data-field="rut">Rut</th>
                    <th data-field="ver_ficha">Ver Ficha</th>
                </tr>
            </thead>
            <tbody>
                    {% for paciente in pacientes  %}
                        <tr>
                            <td>{{paciente.user.nombres}}</td>
                            <td>{{paciente.user.apellidos}}</td>
                            <td>{{paciente.user.rut}}</td>
                            <td><a href="{% url 'paciente-detalle' pk=paciente.pk %}">Ver detalle</a></td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="4" class="red-text"> No se encontraron pacientes</td>
                        </tr>
                    {% endfor %}
                    
                
                
            </tbody>
        </table>
    </div>
</div>

{% endblock main %}