{% extends "nutricionista/base_nutricionista.html" %}
{% block activeFichaNutricional %} active {% endblock %}
{% block main %}
<div class="row">
    <div class="col s12">
        <div class="container">
            <h3 class="header left purple-text">Ficha Información nutricional</h3>
        </div>       
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <p class="flow-text">Información Nutricional</p>
                <div class="row mensajes">
                {% for message in messages  %}
                    {% if message.tags == 'success' %}
                        <p class="green-text">{{message}}</p>
                    {% else %}
                        <p>{{message}}</p>
                    {% endif %}
                {% endfor %}
                </div>
        </div>
    </div>
    <form action="" method="POST">
            {% csrf_token %}
            <div class="row">
                    <div class="col s12 m6 l6">
                        <table class="bordered">
                            <tbody>
                                <tr>
                                    <td colspan="2"><label for="id_peso">Peso</label>{{form.peso}}</td>
                                    <td colspan="2"><label for="id_talla">Talla</label>{{form.talla}}</td>
                                    
                                </tr>
                                <tr>
                                    <td><label for="id_cintura">Cintura</label>{{form.cintura}}</td>
                                    <td><label for="id_presion_arterial">Presion Art.</label>{{form.presion_arterial}}</td>
                                    <td><label for="id_h_g_t">HGT</label>{{form.h_g_t}}</td>
                                    <td><label for="id_p_bicipital">P.Bicipital</label>{{form.p_bicipital}}</td>
                                    
                                </tr>
                                <tr>
                                    <td><label for="id_p_tripicital">P.Tripicital</label>{{form.p_tripicital}}</td>
                                    <td><label for="id_p_sub_escapular">P.Subescapular</label>{{form.p_sub_escapular}}</td>
                                    <td><label for="id_p_sub_iliaco">P.Subiliaco</label>{{form.p_sub_iliaco}}</td>
                                    <td><label for="id_c_braquial">C. Braquial</label>{{form.c_braquial}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col s6 m6 l6">
                        <table class="bordered">
                            <thead>
                                <tr>
                                    <td>IMC</td>
                                    <td>Diagnostico</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{{form.imc}}</td>
                                    <td class="disabled">{{form.diagnostico_peso}}</td>
                                </tr>
                                <tr>
                                        <td colspan="2"><a href="#" onClick='calcular_imc()' class="waves-effect waves-light btn right">Calcular</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row center">
                    <input type="submit" class="btn waves-effect waves-light disabled" id="actualizar" value="Actualizar">
                </div>
    </form>
  
</div>
{% endblock main %}
{% block costumjs %}
<script>
    let calcular_imc = () => {
        const peso = $("#id_peso").val()
        const talla = $("#id_talla").val()
        let diagnostico;
        if (peso > 0 && talla > 0){
            const imc = (Number(peso)/Number(talla**2)).toFixed(2)
            if (imc < 18.5){
                diagnostico = 'Bajo peso'
            }else if (imc >= 18.5 && imc <= 24.9){
                diagnostico = 'Peso normal'
            }else if (imc >= 25 && imc <= 29.9){
                diagnostico = 'Sobrepeso'
            }else if(imc >= 30 && imc <= 34.9){
                diagnostico = 'Obesidad grado 1'
            }else if(imc >= 35 && imc <= 39.9){
                diagnostico = 'Obesidad grado 2'
            }else if(imc >= 40){
                diagnostico = 'Obesidad mórbida'
            }else{
                diagnostico = ' - '
            }
            $("#id_imc").val(imc)
            $("#id_diagnostico_peso").val(diagnostico)
            $(".mensajes").html("")
            $("#actualizar").removeClass("disabled")
        }else{
            $(".mensajes").html("")
            $(".mensajes").append("<p class='red-text'>Peso y talla deben ser mayor a cero.</p>")
        }
    }
</script>
{% endblock%}