{% extends "nutricionista/base_nutricionista.html" %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="messages col s12 center-align ">
            {% if messages %}
                {% for message in messages %}
                    <p class="green-text flow-text">{{message}}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col s12">
                <h1 class="grey-text">Mis Pautas</h1>
            <form action="" method="POST">
                {% csrf_token %}
                {{form.as_table}}
                <input type="submit" value="Guardar" class="btn">
            </form>

        </div>
    </div>
</div>
{% endblock main %}