{% extends "nutricionista/base_nutricionista.html" %}

{% block main %}
<nav>
    <div class="nav-wrapper center blue">
        <ul>
        <li><a href="{% url 'paciente-detalle-ficha' paciente.pk 'general' %}">Ficha general </a></li>
        <li><a href="{% url 'paciente-detalle-ficha' paciente.pk 'antecedentes' %}">Antecedentes Alimentarios </a></li>
        <li><a href="{% url 'paciente-detalle-ficha' paciente.pk 'nutricional' %}">Ficha nutricional </a></li>
        <li><a href="{% url 'paciente-detalle-ficha' paciente.pk 'bioquimica' %}">Ficha Bioquímica</a></li>
        <li class="active"><a href="{% url 'paciente-detalle-ficha' paciente.pk 'calculadora' %}">Calculadora piramidal</a></li>
        <li><a href="{% url 'paciente-detalle-ficha' paciente.pk 'recomendaciones' %}">Recomendaciones</a></li>
        
        </ul>
    </div>
</nav>
<div class="container">

    <div class="row valign-wrapper" >
        <div class="col s12 m4 l4 ">
            <div>
                <table class="bordered">
                    <thead>
                        <tr ><td colspan="6" ><h3 class="center-align">VCT %</h3></td></tr>
                        <tr class="blue lighten-2 white-text">
                            <td>Kcal requeridas</td>
                            <td>1500</td>
                            <td>VCT %</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <th>Grupo</th>
                            <th>KCAL</th>
                            <th>GR</th>
                            <th>%</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>H.de Carbono</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Proteínas</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>Lípidos</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>

    
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col s12 m8 l8 center-align">
            
            <table class="bordered striped centered" style="border:1px;">
                <tdead>
                    <tr><td colspan="6" ><h3>CALCULADORA PIRAMIDAL</h3></td></tr>
                    <th>Grupo</th>
                    <th>Porciones</th>
                    <th>Kcal</th>
                    <th>H.de carbonos</th>
                    <th>Proteinas</th>
                    <th>Lípidos</th>
                </tdead>
                <tbody>
                    <tr>                    
                        <td>Cerales</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>                    
                        <td>Verduras general</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>                    
                        <td>Verduras libre cosnumo</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>                    
                        <td>Frutas</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>                    
                        <td>Carnes altas en grasas y huevos</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>                    
                        <td>Carnes bajas en grasas</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>                    
                        <td>Lacteos altos en grasas</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>                    
                        <td>Lacteos medios en grasas</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>                    
                        <td>Lacteos bajos en grasas</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>                    
                        <td>Leguminosas secas</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>                    
                        <td>Aceites y grasas</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>                    
                        <td>Alimentos ricos en lípidos</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                    <tr>                    
                        <td>Azucares</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                        <td>0</td>
                    </tr>
                </tbody>
                <tr class="blue lighten-3 grey-text">
                    <th colspan="2" class="white-text">Subtotal gramos</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr class="blue lighten-2 grey-text">
                        <th colspan="2" class="white-text">Subtotal KCAL</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                </tr>
                <tr class="blue lighten-2 grey-text">
                    <th colspan="2" class="white-text">Porcentaje de adecuación</th>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </table>
            <div class="right-align"><button class="btn green right-align">Calcular</button></div>
        </div>
    </div>
</div>


{% endblock main %}
{% block costumjs %}
<script type="text/javascript">
    let lista_grupo_alimentos = []
    $.getJSON("{% url 'grupo-alimentos-json' %}", function(data){

        lista_grupo_alimentos = JSON.parse(data)
        console.log(data)
        console.log(lista_grupo_alimentos)
    })

    $(document).ready(function(){
        $('input.autocomplete').autocomplete({
          data: {
            "Nombre": null,
            "Microsoft": null,
            "Google": 'https://placehold.it/250x250'
          },
        });
    });


</script>
{% endblock costumjs %}