{% extends "nutricionista/base_nutricionista.html" %}

{% block main %}
<nav>
    <div class="nav-wrapper center blue">
        <ul class="left hide-on-med-and-down"><li class="active"><a href="">Atendiendo al paciente:  {{paciente.user.rut}}</a></li></ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'paciente-detalle-ficha' paciente.user.pk 'general' %}">Ficha general </a></li>
        <li><a href="{% url 'paciente-detalle-ficha' paciente.user.pk 'nutricional' %}">Ficha nutricional </a></li>
        <li><a href="{% url 'paciente-detalle-ficha' paciente.user.pk 'bioquimica' %}">Ficha Bioquímica</a></li>
        <li><a href="{% url 'paciente-detalle-ficha' paciente.user.pk 'calculadora' %}">Calculadora piramidal</a></li>
        <li class="active"><a href="{% url 'paciente-detalle-ficha' paciente.user.pk 'Recomendaciones' %}">Recomendaciones</a></li>
        </ul>
    </div>
</nav>
<h1>Acá se se asignarán los menus, y recomendaciones nutricionales según la data cagada en las otras fichas </h1>
{% endblock main %}