{% extends "nutricionista/base_nutricionista.html" %}

{% block contenido %}
<div class="container">
    <div class="row">
        <div class="messages col s12 center-align ">
            {% if messages %}
                {% for message in messages %}
                    <p class="green-text flow-text">{{message}}</p>
                {% endfor %}
            {% endif %}
        </div>
        <div class="col s12">
                <h1>Su listado de pacientes {{pacientes|length}}</h1>
            <center>
            <ul>
            {% for paciente in pacientes %}
                <li>{{paciente}} - {{paciente.nacionalidad}} - {{paciente.observacion}}</li>
            {% empty %}
                <li>No hay pacientes para este nutricionista</li>
            {% endfor %}
            </ul>
            </center>
        </div>
    </div>
</div>
{% endblock contenido %}