{% extends "nutricionista/base_nutricionista.html" %}

{% block main %}
<nav>
    <div class="nav-wrapper center blue">
        <ul class="left hide-on-med-and-down"><li><a href="{% url 'paciente-detalle' paciente.pk %}">Atendiendo al paciente:  {{paciente.user.rut}}</a></li></ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'paciente-detalle-ficha' paciente.pk 'general' %}">Ficha general </a></li>
        <li class="active"><a href="{% url 'paciente-detalle-ficha' paciente.pk 'nutricional' %}">Ficha nutricional </a></li>
        <li><a href="{% url 'paciente-detalle-ficha' paciente.pk 'bioquimica' %}">Ficha Bioquímica</a></li>
        <li><a href="{% url 'paciente-detalle-ficha' paciente.pk 'calculadora' %}">Calculadora piramidal</a></li>
        <li><a href="{% url 'paciente-detalle-ficha' paciente.pk 'recomendaciones' %}">Recomendaciones</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <div class="row">
        <div class="col">
            <p class="flow-text">Información Nutricional</p>
            {% for message in messages  %}
                {% if message.tags == 'success' %}
                    <p class="green-text">{{message}}</p>
                {% else %}
                    <p>{{message}}</p>
                {% endif %}
            {% endfor %}
            <form action="" method="post">
                {% csrf_token %}
                {{form}}
                <input type="submit" value="Actualizar" class="btn">  
            </form>
        </div>
    </div>
</div>
{% endblock main %}