{% extends "nutricionista/base_nutricionista.html" %}

{% block main %}
<nav>
    <div class="nav-wrapper center blue">
        <ul class="left hide-on-med-and-down"><li><a href="{% url 'paciente-detalle' paciente.pk %}">Atendiendo al paciente:  {{paciente.user.rut}}</a></li></ul>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="{% url 'paciente-detalle-ficha' paciente.pk 'general' %}">Ficha general </a></li>
        <li><a href="{% url 'paciente-detalle-ficha' paciente.pk 'nutricional' %}">Ficha nutricional </a></li>
        <li class="active"><a href="{% url 'paciente-detalle-ficha' paciente.pk 'bioquimica' %}">Ficha Bioquímica</a></li>
        <li><a href="{% url 'paciente-detalle-ficha' paciente.pk 'calculadora' %}">Calculadora piramidal</a></li>
        <li ><a href="{% url 'paciente-detalle-ficha' paciente.pk 'recomendaciones' %}">Recomendaciones</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row">
        <div class="col">
        {% if form %}
            <h1>HAY FORM BIO</h1>
            {{form}}
        {% else %}
        {% endif %}
        </div>
    </div>
</div>
{% endblock main %}