{% extends "nutricionista/base_nutricionista.html" %}

{% block contenido %}
<div class="container">
    <div class="row">
       <div class="col s12">
           <table class="bordered">
               <thead>
                   <tr>
                       <th data-field="nombre">Nombre</th>
                       <th data-field="apellidos">Apellidos</th>
                       <th data-field="rut">Rut</th>
                       <th data-field="ultima_atención">Ultima atención</th>
                       <th data-field="ver_ficha">ver_ficha</th>
                   </tr>
               </thead>
               <tbody>
                   {% for paciente in pacientes  %}
                   <tr>
                        <td>{{paciente.user.nombres}}</td>
                        <td>{{paciente.user.apellidos}}</td>
                        <td>{{paciente.user.rut}}</td>
                        <td>{{paciente.ultima_atencion}}</td>
                        <td><a href="{% url 'paciente-detalle' pk=paciente.pk %}">Ver detalle</a></td>
                    </tr>
                   {% endfor %}
                   
               </tbody>
           </table>
       </div>
    </div>
</div>
{% endblock contenido %}